body{
	background-color: skyblue;
	/* fit height based on screen size */
	height: 100%;
	width: 100%;
}

img{
	/* center image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* fit image to screen */
	width: 100%;
	height: 250px;

}

h1{
	position: relative;
	left: 30px;
	margin-top: -250px;
	color: white;
}

h2{
	color: white;
	margin-top: 40px;
	font-size: 50px;
}

#job{
	position: relative;
	float: right;	
	margin-top: -50px;
	margin-right: 25px;
	background-color: red;
	padding: 10px;
	font-size: 20px;
}

#row{
	display: flex;
	flex-direction: row;
	margin-bottom: 250px;
}

#filters{
	width: 210px;
	height: 420px;
	margin-left: 100px;
	margin-top: 20px;
	padding: 10px;
	border: 10px solid;
	border-style: ridge;
	border-radius: 15px;
	position: relative;
	overflow: auto;
}

.jobBoard{
	position: relative;
	width: 70%;
	height: 800px;
	margin-left: 80px;
	margin-top: 20px;
	padding: 10px;
	border: 10px solid;
	border-style: ridge;
	border-radius: 15px;
	overflow: auto;
	z-index: 0;
}

footer{
	background-image: url(homepage_bg.jpg);
	/* position: relative; */
	width: 100%;
	height: 250px;
	position: absolute;
	}

#formShow{
	width: 80%;
	height:450px;
	position: absolute;
	background-color:  white;
	top: 50%;
	left: 100px;
	/* margin-left: -150px; */
	margin-top: -200px;
	padding: 50px;
	border: 10px;
	border-style: ridge;
	border-radius: 15px;
	border-color: rgb(159, 142, 142);
	border-style: solid;
	z-index: 1;
	overflow: auto;
}

 td{
		padding: 10px;
		font-size: 20px;
		/* background-color: rgb(159, 142, 142); */
		text-align: center;
		width: 10%;
}

#select{
	width: 15%;
	height: 40px;
	padding: (25px, 40px, 10px);
	font-size: 14px;
	margin-top: 20px;
	position: relative;
	margin-left: 80%;
	text-align: center;
	border-radius: 5px;
}
